::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--site-main-color);
  border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--site-secondary-color);
}

::-webkit-scrollbar-track {
  background: var(--site-dark-color);
  border: 1px solid var(--site-dark-color);
  border-radius: 30px;
  box-shadow: inset 0px 0px 0px 0px #f0f0f0;
}
