@mixin navbar-responsive() {
  border-bottom: solid 2px var(--color_2);
  position: sticky;
  top: 0;
}

@mixin navbar-collapsed() {
  position: absolute;
  top: 100%;
  left: -100%;

  width: 100%;
  height: 92.5vh;
  //visibility: hidden;
  transition: all 0.2s linear;
  opacity: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--site-dark-color);
    opacity: 0.9;
  }

  .navbar-collapse {
    top: 2px;
    min-width: 250px;
    height: 100vh;
    display: block;
    flex: 0;
    padding: 0;

    .nav-item {
      .nav-link {
        text-align: center;
        font-size: 2rem;
        align-items: center;
        justify-content: center;
      }
    }
  }

  &.show {
    left: 0;
    //visibility: visible;
    opacity: 1;
  }
}

.nav-container {
  position: relative;
}

.main-menu {
  background-color: var(--site-dark-color);
  padding-left: 1rem;
  padding-right: 1rem;
  position: sticky;
  top: 0;
  z-index: 99;

  @media (max-width: 767px) {
    //flex-direction: row-reverse;
  }

  .navbar-brand {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.95rem;

    a {
      text-decoration: none;
      &:focus,
      &:visited,
      &:active {
        text-decoration: none;
      }
    }

    &:hover {
      color: var(--site-main-color);
      .navbar-brand-main,
      .navbar-brand-slogan {
        color: var(--site-main-color);
      }
    }

    .custom-logo-link {
      img {
        display: block;
        width: 100%;
        max-width: 32px;
        height: auto;
      }
    }

    .navbar-brand-main {
      color: var(--site-light-color);
      margin-right: 5px;
      @media (max-width: 991px) {
        display: block;
      }
    }

    .navbar-brand-slogan {
      color: var(--site-light-color);
      font-size: 0.8rem;
      opacity: 0.8;
      &:before {
        content: "|";
        margin-right: 5px;
      }
      @media (max-width: 991px) {
        display: block;
        &:before {
          content: "";
          margin-right: 0;
        }
      }
    }
  }

  .nav-item {
    .nav-link {
      color: var(--site-light-color);
      &:hover {
        color: var(--site-main-color);
      }
      &.active {
        color: var(--site-main-color);
        opacity: 1;
      }
    }

    &--icon {
      .nav-link {
        display: flex;
        align-items: center;
      }
    }
  }

  .menu-user-image {
    img {
      border: solid 2px var(--color-1);
      border-radius: 50%;
      margin-right: 5px;
      width: 2em;
      height: 2em;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {
  .navbar-expand-xl {
    @include navbar-responsive();
    .collapse-container {
      @include navbar-collapsed();
    }
  }
}

// Large devices (desktops, 992px and up)
@media (max-width: 991px) {
  .navbar-expand-lg {
    @include navbar-responsive();
    .collapse-container {
      @include navbar-collapsed();
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 767px) {
  .navbar-expand-md {
    @include navbar-responsive();
    .collapse-container {
      @include navbar-collapsed();
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .navbar-expand-sm {
    @include navbar-responsive();
    .collapse-container {
      @include navbar-collapsed();
    }
  }
}

@import "./NavbarToggler.scss";
