.site-footer {
  background-color: var(--site-dark-color);
  color: #fff;

  .site-info {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .site-copyright {
    background-color: var(--site-main-color);
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--site-dark-color);
    a {
			font-weight: bold;
      color: var(--site-secondary-color);
      &:hover,
      &:focus,
      &:active {
        color: var(--site-clear-color);
      }
    }
  }

  .footer-widget-area {
    display: flex;
    align-items: center;
    justify-content: center;

    .widget {
      margin-bottom: 0;
      @media (max-width: 768px) {
        margin-bottom: 1.5rem;
      }
    }
  }

  .wp-block-preformatted {
    font-family: $font__main;
    background-color: var(--site-dark-color);
    margin: 0;
  }
}
