.site-footer {
  background-color: var(--site-dark-color);
  color: #fff;

  .site-info {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .site-copyright {
    background-color: var(--site-main-color);
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--site-light-color);
    a {
      font-weight: bold;
      color: var(--site-hover-color);
      &:hover,
      &:focus,
      &:active {
        color: var(--site-clear-color);
      }
    }
  }

  .footer-widget-area {
    display: flex;
    align-items: center;
    justify-content: center;

    .widget {
      margin-bottom: 0;
      @media (max-width: 768px) {
        margin-bottom: 1.5rem;
      }
    }
  }

  .wp-block-preformatted {
    font-family: $font__main;
    background-color: var(--site-dark-color);
    margin: 0;
  }
}

.edit-link {
  position: fixed;
  z-index: 99;
  bottom: 15px;
  left: 15px;
  .post-edit-link {
    padding: 1rem;
    border: solid 1px var(--site-main-color);
    background-color: var(--site-light-color);
    transition: background-color $transition_behavior,
      border $transition_behavior;
    &:hover,
    &:focus,
    &:active {
      background-color: var(--site-main-color);
      color: var(--site-light-color);
      border: solid 1px var(--site-light-color);
    }
  }
}
