.site-container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;

  .site-branding {
    .site-brand-image {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}

.alignwide {
  margin-left: -100px;
  margin-right: -100px;
  @media screen and (max-width: 1275px) {
    margin-left: 0;
    margin-right: 0;
  }
}

.alignfull {
  margin-left: calc(-1 * (100vw - 1285px) / 2);
  margin-right: calc(-1 * (100vw - 1285px) / 2);
  @media screen and (max-width: 1275px) {
    margin-left: 0;
    margin-right: 0;
  }
}

@each $key, $value in $font__sizes {
  &.has-#{$key}-font-size {
    font-size: $value;
  }
}

.compressed-container {
  position: relative;
  z-index: 10;
  max-width: 100%;
  width: 1275px;
  margin-left: auto;
  margin-right: auto;
}

/*.wp-block-image {
  &:not(.alignwide, .alignfull) {
    margin: 0;
  }
}*/

.ezesports-section {
  margin-bottom: 2.5rem;
  display: block;
}

.subscription-square {
  padding: 20px;
  border: solid 1px var(--color-1);
  text-align: center;

  p {
    margin: 0;
  }
}

@import "header";
@import "sections";
@import "footer";
@import "forms/forms";
