.form-panel {

	min-height: 60vh;
	display: flex;
	align-items: center;
	justify-content: center;

	.form-panel-container {
		display: block;
		border: solid 1px #eee;
		padding: 15px;
		width: 100%;
		max-width: 450px;
	}

	.hidden-form {
		display: none;
	}

}