@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;600;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

// stylelint-disable value-keyword-case
$font__heading: 'Raleway', sans-serif;
$font__heading__weight: 900;
$font__main: 'Roboto', sans-serif;
// stylelint-enable value-keyword-case
$font__code: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

$font__sizes: (
  "small": 12px,
  "regular": 16px,
  "large": 36px,
);